main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}

:root {
  --primary: #85FFBD;
  --secondary: rgb(30, 96, 145);
  --tertiary: #B12704;
  --light: #fafafa;
  --dark: #000000;
  --darker: #111111;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}


body {
  /* background-color: var(--primary);
  background-image: linear-gradient(179deg, #85FFBD 0%, #FFFB7D 100%); */
  /* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); */
  /* background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);

}
/*header style begins*/
header{
  padding : 15px 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;  
}

header h1{
  color : var(--secondary);
  /* background: rgb(156, 232, 233); */
  /* font-size: 35px; */
  padding: 5px;
  margin-bottom: 1rem;
}
header nav {
  text-align: center;
}

header nav ul li {
  display:inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

.section-name {
  color : var(--secondary);
  margin: 0 10px;
  font-weight:normal;
  font-size : 30px;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 3px solid rgb() ;
  cursor: pointer;
}

/* .navActive {
  color: ;
} */

footer {
  bottom: 5%;
  width: 100%;
  height: 2.5rem;
  padding: 5px;
  display: flex;
  justify-content: center;
  color : black;
  position: absolute;
  align-items: center;
}