main {
	margin: 0 auto;
	max-width: 90%;
  padding: 20px 30px;
}

:root {
  --primary: #85FFBD;
  /* --secondary: rgb(30, 96, 145); */
  --secondary: rgb(19, 69, 156);
  --tertiary: rgb(0, 52, 89);
  --light: #fafafa;
  --dark: #000000;
  --darker: #111111;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}


body {
  /* background-color: var(--primary);
  background-image: linear-gradient(179deg, #85FFBD 0%, #FFFB7D 100%); */
  /* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); */
  /* background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);

}
/*header style begins*/
header{
  padding : 15px 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;  
}

header h1{
  color : var(--secondary);
  /* background: rgb(156, 232, 233); */
  /* font-size: 35px; */
  padding: 5px;
  margin-bottom: 1rem;
}
header nav {
  text-align: center;
}

header nav ul li {
  display:inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

.section-name {
  color : var(--secondary);
  margin: 0 10px;
  font-weight:normal;
  font-size : 30px;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 3px solid rgb() ;
  cursor: pointer;
}

/* .navActive {
  color: ;
} */

/* portfolio section begins */

.work {
  display: flex;
  justify-content: space-between;
  padding: 35px 50px 35px 50px;
}

/*work section heading styles*/
.work-header{
  
  margin: 0 10px;
  flex-wrap: wrap;
}


/* work content box styles */

.work{
  display: flex;
  justify-content: space-between;
  padding: 35px 50px 35px 50px;
}

.work-content{
  display: flex;
  justify-content:space-evenly;
  flex-wrap: wrap;
  flex: 1;
  padding: 5px 20px 5px 20px;
}

.work-content a div h3, .work-content a div h4{
  padding: 2px;
}

/* Styles for each project box */
.work-projects{
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;    
  height: 150px; 
  text-decoration: none;
  padding-bottom: 10px;
  margin-top: 20px;    
  border: 3px solid rgb(156, 232, 233);
  filter: brightness(75%);
  transition: 1s;
 
}  
/* when hovered over the image, it will become bigger and brighter than  others */
.work-projects:hover{
  filter: brightness(100%);
  height: 200px;
  width: 48%;
}

.run-buddy:hover{
  width: 100%;
}
/* hover section end*/

.work-projects div{
  background: rgb(156, 232, 233);
  color: rgb(20, 3, 116);
}
  

/* background image added to each project */
.run-buddy{
  background-image: url("./assets/images/run-buddy.jpg");
  width: 93%;
}



.horiseon{
  background-image: url("./assets/images/Horiseon.png");
  width: 45%;
  
}

.robot-gladiators{
  background-image: url("./assets/images/robot-gladiator.jpg");
  width: 45%;
}

.covid-now{
  background-image: url("./assets/images/covid-now.jpg");
  width: 45%;
}

.live-out-doors {
  background-image: url("./assets/images/live-out-doors.png");
  width: 45%;
}

/*portfolio section ends */


/* About me section */
#img {
  width: 300px;
  height: 300px;
  padding: 10px 30px;
  margin-left: 12px;
  border-radius: 50%;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0px 80px;
  color: var(--secondary);
  font-size: 20px;
}

/* contact section styles */
#contact {
  color: var(--secondary);
  font-size: 20px;
}

.btn-grad {background-image: linear-gradient(to right, #36D1DC 0%, #5B86E5  51%, #36D1DC  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

#error-message {
  padding: 0 15px;
}

/* resume section styles */
#icon-list{
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    /* align-items: center; */
    margin: 100px 0;
    text-align: center;
    color: var(--secondary);

}

.icons {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

#front-end, #back-end {
  display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.icons svg {
  padding: 5px;
}

#resume-btn{
  color: var(--tertiary);
  font-weight: bold;
}

#resume button{
  margin : auto;
}

#resume h2 a {
  text-decoration: none;
}


/* footer section styles */
footer {
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  padding: 5px;
  display: flex;
  justify-content: center;
  color : black;
  margin-bottom: 50px;
  /* position: absolute;
  align-items: center; */
}

.fab {
  padding : 0 15px;
}